@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway:wght@100;200;300;400;500&display=swap');

body {
	background: #3E0470;
	width: 100%;
	margin: auto;
	font-family: 'Playfair Display', serif;
	font-family: 'Raleway', sans-serif;
}

header {
	height: 85px;
	width: 100%;
	border-bottom: 2px solid #5C2F82;
}

.container1 {
	width: 95%;
	height: 100%;
	margin: auto;
	position: relative;
}

#d {
	width: 75px;
	height: 75px;
	float: left;
	margin-top: 4px; 
}

#ly {
	position: absolute;
    width: 25px;
    height: 25px;
    left: 93%;
    top: 16%;
}

#icon {
	float: right;
	height: 85px;
	width: 30px;
}

#inst {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: 0.3%;
}

#you {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: 0.2%;
}

#dis {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -5.8%;
}

.functions {
	position: absolute;
    height: 57px;
    width: 285px;
    left: 65%;
    top: 19%;
}

#kar {
	position: relative;
    float: right;
    width: 50px;
    height: 50px;
}

#like {
	position: relative;
    float: right;
    width: 50px;
    height: 50px;
    left: -6%;
}

#pr {
	position: relative;
    float: right;
    width: 50px;
    height: 50px;
    left: -12%;
}

#call {
	position: relative;
    float: right;
    width: 47px;
    height: 47px;
    left: -18%;
    top: 8%;
}

.search-box {
    position: absolute;
    left: 25%;
    top: 23%;
    background: #572781;
    height: 40px;
    width: 33%;
    border-radius: 5px;
    padding: 2px;
}

.search-txt {
	border: none;
	outline: none;
	font-size: 20px;
	line-height: 1.71;
	width: 91%;
	background: #620CAC;
	border-radius: 5px;
	padding: 2px;
	color: #BFB930;
}

.menu {
	position: relative;
	width: 100%;
	height: 70px;
}

.menu a {
	position: absolute;
	text-decoration:none;
	color: #BFB930;
	top: 10%;
	font-size: 20px;
	font-family: 'Raleway';
	font-weight: 400;
}

.menu a:hover {
	color: #FFF400;
}

#ps3 {
	position: absolute;
	left: 5%;
	top: 32%;
}

#ps4 {
	position: absolute;
	left: 15%;
	top: 32%;
}

#ps5 {
	position: absolute;
	left: 25%;
	top: 32%;
}

#xbx {
	position: absolute;
	left: 35%;
	top: 32%;
}

#xbs {
	position: absolute;
	left: 46%;
	top: 32%;
}

#xb360 {
	position: absolute;
	left: 57%;
	top: 32%;
}

#xb1 {
	position: absolute;
	left: 66%;
	top: 32%;
}

#pc {
	position: absolute;
	left: 75%;
	top: 32%;
}

#swi {
	position: absolute;
	left: 80%;
	top: 32%;
}

#sd {
	position: absolute;
	left: 87%;
	top: 32%;
}

.gradient1 {
	background: rgb(92,47,130);
	background: linear-gradient(180deg, rgba(92,47,130,1) 30%, rgba(2,0,36,0) 100%);
	position: absolute;
	width: 100%;
	height: 85px;
	opacity: 0;
}

.gradient1:hover {
	background: rgb(92,47,130);
	background: linear-gradient(180deg, rgba(92,47,130,1) 30%, rgba(2,0,36,0) 100%);
	position: absolute;
	width: 100%;
	height: 85px;
	opacity: 0.8;
}

.slider {
	width: 1100px;
	height: 600px;
	overflow: hidden;
	border: 10px solid #fff;
}

.middel {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, 15%);
}

.navigation {
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

#a1 {
	width: 1100px;
	height: 600px;
}

#a2 {
	width: 1100px;
	height: 600px;
}

#a3 {
	width: 1100px;
	height: 600px;
}

#a4 {
	width: 1100px;
	height: 600px;
}

.bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	opacity: 0.7;
	border-radius: 10px;
	transition: all .4s ease;
}

.bar:hover {
	opacity: 1;
	transform: scale(1.1);
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	width: 25%;
	transition: all .6s ease;
}

.slide img {
	width: 100%;
	height: 100%
}

#r1:checked ~ .s1 {
	margin-left: 0;
}

#r2:checked ~ .s1 {
	margin-left: -25%;
}

#r3:checked ~ .s1 {
	margin-left: -50%;
}

#r4:checked ~ .s1 {
	margin-left: -75%;
}

.text-top {
	position: relative;
	top: 676px;
	width: 100%;
	height: 53px;
}

.text-top h2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #BFB930;
	font-size: 50px;
	font-weight: 600;
	text-shadow: 1px 0px 10px #572781,
	0px 1px 10px #572781, 
	-1px 0 10px #572781, 
	0px -1px 10px #572781;
}

.product {
	width: 200px;
	height: 400px;
	margin-bottom: 30px;
}

.top {
	position: relative;
    top: 800px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);

}

.card {
	width: 200px;
	height: 400px;
	margin-bottom: 30px;
	margin-right: 100px;
	display: inline-block;
	background: #9040D5;
	border: 12px solid #9040D5;
	border-radius: 10px;
}

.image img {
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.image {
	margin-bottom: 10px;
}

.info h2 {
	font-size: 21px;
	font-weight: 500; 
	margin-bottom: 0;
	margin-top: 0; 
	color: #000000;
}

.rating {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
	margin-top: 0; 
}

.rating li {
	display: inline-block;
	color: #ffc107;
}

.info-prise {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.add-to-cart {
	border: none;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #BFB930;
	color: #572781;
	border-radius: 10px;
}

.prise {
	font-weight: 600;
	font-size: 18px;
	color: #000000;
}

.footer-x {
	height: 340px;
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	font-size: 15px;
	line-height: 24px;
	background: #9040D5;
}

#logo-footer {
	width: 250px;
	height: 78.11px;
	float: left;
	margin-top: 62px;
	margin-right: 154px;
}

.footer-x {
	position: relative;
    top: 829px;
}

.logof {
	width: 60%;
}

#logo-footer {
	margin-left: 50px;
}

.footer-x p {
	color: #BFB930;
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: 400;
}

.info-footer {
	position: relative;
    top: 97px;
}

.btncall {
	margin-left: 795px;
}
.btnc {
	    background: #537ad1;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 40%);
    box-shadow: 0 2px 3px rgb(0 0 0 / 40%);
    border-radius: 30px;
    min-width: 230px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 8px;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.dropbtn {
    background-color: #537ad1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #6522a3;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.b-container{
    width:240px;
    height:74px;
    background-color: #676fa5;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
    position: absolute;
    margin-top: 128px;
    width: 110px;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin: 72px auto 0px auto;
    width: 551px;
    height: 410px;
    padding: 10px;
    background-color: #6544a7;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}
